@media screen and (max-width: 700px) {

    header {
        padding: 0;
    }
    
    nav ul {
        display: grid;
        margin: 0;
    }

    nav li {
        padding: 1rem;
    }

    nav li:hover {
        margin: 0;
        background-color: var(--color2);
    }

    nav ul li a:hover {
        color: var(--color3);
    }

    .card {
        display: block;
    }
}