:root {
    --primary-color: #012d56;
    --primary-color-transparent: #012d5680;
    --secondary-color: #ffd561;
    --secondary-color-transparent: #ffd56180;
    --tertiary-color: #801308;
    --tertiary-color-transparent: #80130880;
    --accent1-color: #ffffff;
    --accent2-color: #550e06;
    --accent2-color-transparent: #550e0680;
    --accent3-color: #daa039;
    --accent4-color: #eee;

    --title-font: 'Roboto', sans-serif;
    --text-font: 'Merriweather', sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--title-font);
    background-color: var(--primary-color);
    color: var(--accent1-color);
    height: 10rem;
}

header h3 {
    padding: 1rem;
}

/* Nav */
a {
    color: var(--accent1-color);
    text-decoration: none;
}

.active {
    background-color: var(--accent2-color-transparent);
}

nav {
    font-family: var(--title-font);
    background-color: var(--tertiary-color);
    text-align: center;
}

nav a:hover {
    color: var(--accent3-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav li {
    height: 3rem;
    width: 100%;
    align-content: center;
}

nav li:hover {
    background-color: var(--accent2-color);
}

/* Main */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-family: var(--text-font);
    min-height: 500px;
    max-height: 800px;
}

main h4 {
    padding: 1rem;
}

aside {
    background-color: var(--accent4-color);
}

/* Footer */
footer {
    font-family: var(--title-font);
    background-color: var(--accent3-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    height: 100px;
}